@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --neutral-0: #ffffff;
    --neutral-100: #F4F4F4;
    --neutral-200:  #E9E9E9;
    --neutral-500: #757575;
    --neutral-700: #3A3A3A;
    --neutral-800: #2D2D2D;
    --neutral-900: #1F1F1F;
    --neutral-950: #000000;
    --purple-500: #A445ED;
    --purple-600: #8F19E8;
    --red-500: #FF5252;
    --sans: "Inter", sans-serif;
    --serif: "Lora", serif;
    --mono: "Inconsolata", monospace;

    --ff-primary: var(--sans);
    --body-bg: var(--neutral-0);
    --text-clr: var(--neutral-800);
    --form-input-bg: var(--neutral-100);
    --placeholder-text: var(--neutral-800);
}

html.dark-theme {
    --body-bg: var(--neutral-950);
    --text-clr: var(--neutral-0);
    --form-input-bg: var(--neutral-900);
    --placeholder-text: var(--neutral-0);
}

html.font-sans {
    --ff-primary: var(--sans);
}

html.font-serif {
    --ff-primary: var(--serif);
}

html.font-mono {
    --ff-primary: var(--mono);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-primary);
    background-color: var(--body-bg);
    font-size: 1rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

header,
main,
footer {
    width: 90vw;
    max-width: 50rem;
    margin-inline: auto;
}

header {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-logo {
    width: 1.75rem;
    height: auto;
    display: block;
}

.settings-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.preferred-mode {
    padding-left: 0.65rem;
    border-left: 1px solid var(--neutral-200);
    display: flex;
    gap: 0.75rem;
    align-items: center;
}

.dictionary-form-section {
    padding-block: 1.25rem 1.5rem;
}

.form-input-wrapper {
    background-color: var(--form-input-bg);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    padding: .85rem 1.5rem;
}

.form-input-wrapper.error {
    border: 1px solid var(--red-500);
}

.form-input {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    line-height: 120%;
    font-family: var(--ff-primary);
    font-weight: 700;
    color: var(--text-clr);
}

.form-input:active,
.form-input:focus-visible {
    outline: none;
}

.form-input-wrapper:focus-within {
    outline: 1px solid var(--purple-500);
}

.form-input-wrapper.error:focus-within {
    outline-color: transparent;
}

::placeholder {
    color: var(--placeholder-text);
    opacity: .25;
    font-weight: bold;
}

.err-msg {
    color: var(--red-500);
    font-size: 0.875rem;
    line-height: 170%;
    margin-top: .5rem;
}

/* DICTIONARY RESULT SECTION */
.search-term-result {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.term {
    font-size: 2rem;
    font-weight: 700;
    line-height: 120%;
    color: var(--text-clr);
    margin-bottom: 0.5rem;
}

.phonetic {
    font-family: var(--sans);
    font-size: 1.175rem;
    line-height: 122%;
    color: var(--purple-500);
}

.play-btn {
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    border-radius: 100vmax;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.play-btn svg g circle  {
    fill: var(--play-btn-bg);
}

.play-btn:hover svg g circle {
    transition: all 200ms ease;
    opacity: 1;
}

.play-btn:hover svg g path {
    transition: all 200ms ease;
    fill: var(--neutral-0);
}

.play-btn:focus-visible {
    outline: 2px solid var(--purple-500);
    outline-offset: 2px;
}

/* DETAIL DEFINITION SECTION */
.detail-definition {
    padding-top: 1.75rem;
}

.part-of-speech-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 2rem;
    margin-bottom: 2rem;
}

.part-of-speech {
    font-weight: bold;
    font-size: 1.175rem;
    font-style: italic;
    line-height: 122%;
    color: var(--text-clr);
}

.line {
    width: 100%;
    height: 1px;
    background-color: var(--neutral-200);
}

h3 {
    color: var(--neutral-500);
    font-size: 1rem;
    font-weight: 400;
}

.meaning-title {
    margin-bottom: 1.5rem;
}

.meaning-definition-list {
    margin-bottom: 1.5rem;
    padding-left: 1rem;
}

.definition-list-item {
    font-size: 0.9375rem;
    line-height: 160%;
    color: var(--text-clr);
    letter-spacing: 0px;
    padding-left: .65rem;
}

.meaning-definition-list:last-child {
    margin-bottom: 2rem;
}

.definition-list-item:not(:last-child) {
    margin-bottom: 0.75rem;
}

::marker {
    color: var(--purple-500);
}

.synonyms-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.synonym-word {
    font-size: 1rem;
    line-height: 120%;
    font-weight: 700;
    color: var(--purple-500);
}

.example {
    color: var(--neutral-500);
}

/* ERROR MESSAGE SECTION */
.not-found {
    /* padding-top: 1.5rem; */
    margin-top: 5rem;
}

.not-found-content {
    text-align: center;
}

.not-found-emoji {
    font-size: 3rem;
    margin-bottom: 1.25rem;
}

.not-found-title {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
    color: var(--text-clr);
}

.not-found-msg {
    font-size: 1.125rem;
    line-height: 133%;
    color: var(--neutral-500);
}

footer {
    /* margin-top: 3rem; */
    padding-block: 2rem 5rem;
    border-top: 1px solid var(--neutral-200);
    color: var(--neutral-500);
}

.info {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.info p {
    font-size: 0.875rem;
    line-height: 120%;
    text-decoration: underline;
    color: var(--neutral-500);
    margin-bottom: .5rem;
}

.info a {
    font-size: 0.875rem;
    line-height: 120%;
    color: var(--text-clr);
    text-decoration: underline;
    display: flex;
    align-items: center;
    gap: 0.675rem;
}

.info a:hover {
    color: var(--purple-500);
}

/* CUSTOM TOGGLE SWITCH MY VERSION */
input[type=checkbox]{
	position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

input[type="checkbox"]:focus-visible + .toggle-label {
    outline: 2px solid var(--purple-500);
    outline-offset: 2px;
}

.toggle-label {
	cursor: pointer;
	text-indent: -9999px;
	width: 40px;
	height: 20px;
	background-color: var(--neutral-500);
	display: block;
	border-radius: 100vmax;
	position: relative;
}

.toggle-label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 14px;
	height: 14px;
	background-color: var(--neutral-0);
	border-radius: 100vmax;
	transition: 0.3s;
}

input:checked + .toggle-label {
	background-color: var(--purple-500);
}

input:checked + .toggle-label:after {
	left: calc(100% - 3px);
	transform: translateX(-100%);
}

.toggle-label:active:after {
	width: 55px;
}

input:checked ~ .moon-icon svg path {
    stroke: var(--purple-500);
}

input:hover + .toggle-label {
	background-color: var(--purple-500);
}

/* CUSTOM SELECT */
.custom-select {
    position: relative;
}

.dropdown-toggle-btn {
    background-color: transparent;
    border-radius: .625rem;
    font-family: var(--ff-primary);
    color: var(--text-clr);
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 170%;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    border: 1px solid transparent;
}

/* .dropdown-toggle-btn[aria-expanded="true"] {
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
} */

.dropdown-toggle-btn:hover {
    color: var(--text-clr);
}

.dropdown-toggle-btn:focus-visible {
    outline: 2px solid var(--purple-500); 
    outline-offset: 2px;
}

.dropdown {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 8rem;
    transform: translateY(calc(100% + 10px));
    list-style-type: none;
    background-color: var(--body-bg);
    padding: 1.5rem 1rem;
    border-radius: 1rem;
    color: var(--text-clr);
    font-size: 1.125rem;
    line-height: 150%;
    z-index: 5;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .1);
}

html.dark-theme .dropdown {
    box-shadow: 0 0 0.75rem 0.5rem #A445ED80;
}

.dropdown li:not(:last-child) {
    margin-bottom: 1rem;
}

.dropdown li:hover {
    cursor: pointer;
    color: var(--purple-500);
}

.dropdown li:focus-visible {
    outline: 2px solid var(--purple-500);
    outline-offset: 2px;
}

li[data-value="sans"] {
    font-family: var(--sans);
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 170%;
}

li[data-value="serif"] {
    font-family: var(--serif);
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 170%;
}

li[data-value="mono"] {
    font-family: var(--mono);
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 133%;
}

@media screen and (min-width: 44rem) {
    header {
        padding-top: 3.6rem;
    }

    .img-logo {
        width: 2rem;
    }

    .dictionary-form-section {
        padding-block: 3rem 3rem;
    }

    .form-input {
        font-size: 1.25rem;
    }

    .term {
        font-size: 4rem;
    }

    .phonetic {
        font-size: 1.5rem;
        line-height: 120%;
    }

    .play-btn {
        width: 4.6875rem;
        height: 4.6875rem;
    }

    .part-of-speech {
        font-size: 1.5rem;
        line-height: 120%;
    }

    h3 {
        font-size: 1.25rem;
    }

    .definition-list-item {
        font-size: 1.125rem;
        line-height: 133%;
        padding-left: .65rem;
    }

    .synonym-word {
        font-size: 1.25rem;
    }

    .info {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.25rem;
    }

    .info p {
        margin-bottom: 0;
    }
}
